@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Grenze+Gotisch:wght@100..900&family=Nova+Square&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  font-family: var(--main-font);
}

#root {
  width: 100%;
  text-align: center;
  height: 100vh;
  --main-bg: rgb(3, 6, 55);
  --main-header: rgb(40, 36, 103);
  --card: rgb(114, 4, 85);
  --font-color: rgb(236, 223, 204);
  background-color: var(--main-bg);
  --main-font: "Permanent Marker", cursive;
  background: url("/bg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

html {
  width: 100%;
}

.container {
  margin: 20px 20px 0 20px;
  height: 80%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 16px;
}

@media screen and (max-width: 1200px) {
  #root {
    height: 100%;
  }
  .container {
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .name-description p {
    line-height: normal;
    font-size: 1rem;
  }
}

@media screen and (max-width: 730px) {
  .container {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
